<p id="notice"><%= notice %></p>

<p>
  <strong>Devices:</strong>
  <%= @type_device.devices %>
</p>

<%= link_to 'Edit', edit_type_device_path(@type_device) %> |
<%= link_to 'Back', type_devices_path %>
