// Place all the styles related to the Status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	.entry{

		table{
		width: 100%;
		border: 1px solid Gray;
		
		thead{
			background-color: gray;
			color: white;
			border-bottom : 2px solid Gray;
		}
		}
		#img_check img{
			height: 20px;
			width: 20px;
		}
			tbody { 
	tr{
		border: 1px solid Gray;
		height: 40px;
	
	}
}


	}

